<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>LastName</th>
            <th>Age</th>
        </tr>
        <tr th:each = "user: ${Users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td>
                <form th:method="GET" th:action="@{/edituser/{id} (id=${user.getId()}) }">
                    <input type="submit" value="Update" />
                </form>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/users/{id} (id=${user.getId()}) }">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    </table>

    <p></p>
    ----------Add User----------
    <form th:method="POST" th:action="@{/users}" th:object="${User}">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="lastName">LastName</label>
        <input type="text" th:field="*{lastName}"  id="lastName"/>
        <br/>
        <label for="age">Age</label>
        <input type="text" th:field="*{age}"  id="age"/>
        <br/>
        <input type="submit" value="Add User" />
    </form>

</body>
</html>